on boot
    setprop sys.usb.state adb
    stop adbd
    start adbd

on property:sys.usb.config=none
    stop adbd
    exec /system/bin/netcfg usb0 down
	write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb
    exec /system/bin/netcfg usb0 down
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2 
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    exec /system/bin/netcfg usb0 down
    write /sys/devices/platform/android_usb/usb_function_switch 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    exec /system/bin/netcfg usb0 down
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    exec /system/bin/netcfg usb0 up
    write /sys/devices/platform/android_usb/usb_function_switch 4
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    exec /system/bin/netcfg usb0 up
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,rndis,adb
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
